
p {
    margin: 0;
    height: 20px;
    padding: 3px 0;

    &:before {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        width: 100%;
        height: 100%;
        text-shadow: 0px 0px 1px black;
    }
}

.symbol-container {
    img {
        width: 20px;
        height: auto;
    }
}

// Colors for the different elements, that uses static icons
.fire {
    background: rgba(#a4575d, 0.3);
}
.water {
    background: rgba(#7391ab, 0.3);
}
.thunder {
    background: rgba(#b6ab69, 0.3);
}
.ice {
    background: rgba(#7dabab, 0.3);
}
.dragon {
    background: rgba(#523e7d, 0.3);
}

.immune {
    &:before {
        content: '✖';
        color: red;
    }
}

.weakness {

    &--1 {
        &:before {
            content: "★";
        }
    }
    &--2 {
        &:before {
            content: "★★";
        }
    }
    &--3 {
        &:before {
            content: "★★★";
        }
    }
}